{% extends 'layout.html' %}

{% block title %}
    Change Password
{% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto">

                <h1 class="text-center">
                    Change Password
                    <hr />
                </h1>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6 m-auto">
                <form enctype="multipart/form-data" method="POST" id='add-post-form'>
                    {% csrf_token %}
                    {{form|crispy}}
                    <div style="height:50px;"></div>
                    <div class="btn-test">
                        <button class="btn btn-info add-post-btn" type="submit">
                           Change
                        </button>
                    </div>
                </form>
                <br />
            </div>
        </div>
    </div>
    {% endblock %}