{% extends 'layout.html' %}

{% block title %}
 Password Reset Done
{% endblock %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto ">

                <h1 class="text-center">
                    <br />    
                     Password reset data sent
                    <hr />
                </h1>
            </div>
            <div class="col-md-9 m-auto ">
                <p class="lead text-center">
                    
                    We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
                    <br /> You should receive them shortly.
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                    
                </p>
                <div class="btn-test">
                    <a href="{% url 'main:home' %}" class="btn btn-link add-post-btn">
                        Back to home page
                    </a>
                </div>
                <div style="height:100px;"></div>
                </form>
                <br />
            </div>
        </div>
    </div>
    {% endblock %}