{% extends 'layout.html' %}
{% block title %}
 Password Reset
{% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <br />    
                <h1 class="text-center">
                    
                  Password Reset
                    <hr />
                </h1>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-info">
                       Send
                    </button>
                </form>
            </div>
            <div class="col-md-7 m-auto">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>
        </div>
    </div>
    {% endblock %}