{% extends 'index.html' %}

{% block title %}
 Password reset complete
{% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section>
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 m-auto">
                
                <h1 class="text-center">
                    <br />    
                     Password reset complete
                    <hr />
                </h1>
                <p class="lead text-center">
                    Your password has been set. You may go ahead and log in now.
                    <br />
                    <a href="{% url 'accounts:login' %}" class="btn btn-link">
                        Login
                    </a></p>
                <br />
            </div>
            <div class="col-md-7 m-auto">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>
        </div>
    </div>
    {% endblock %}