{% extends 'layout.html' %}

{% block title %}
    Password reset confirm
{% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">

                <h1 class="text-center">
                    <br />    
                   Password reset confirm
                    <hr />
                </h1>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6 m-auto">
                {% if form %}
                <form enctype="multipart/form-data" method="POST" id='add-post-form'>
                    {% csrf_token %}
                    {{form|crispy}}
                    <div style="height:50px;"></div>
                    <div class="btn-test">
                        <button class="btn btn-info add-post-btn" type="submit">
                            Reset
                        </button>
                    </div>
                </form>
                {% else %}

                <p class="lead text-center">
                    This link has expired 
                </p>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                {% endif %}
                <br />
            </div>
        </div>
    </div>
    {% endblock %}